@tailwind base;
@tailwind components;
@tailwind utilities;

.postFiller{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
}
.postFiller--isPosting{
  display: block;
}